<!DOCTYPE html>
<html ng-app="myPageApp">
<head>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Research - Vanessa Marinho</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/mypage.css" rel="stylesheet">
	<link href="css/fontawesome.min.css" rel="stylesheet">
	<link rel="icon" href="teste.ico" type="image/ico" sizes="16x16">

	
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
	
    <!-- AngularJS -->
    <script src="js/angular.min.js"></script>
	<script src="js/mypage.js"></script>
	
</head>

<body ng-controller="languageController as language">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" style="float: right">
                    <li>
                        <a href="#" id="research">{{menu.research[language]}}</a>
                    </li>
                    <li>
                        <a href="#" id="people">{{menu.people[language]}}</a>
                    </li>
                    <li>
                        <a href="#" id="interesting">{{menu.interesting[language]}}</a>
                    </li>
					<li class="english"  style="padding-top: 13px;">
						<span>
						<a id="english" style="display:inline-block"><img src="english.png"></a>
						<a id="portuguese" style="display:inline-block"><img src="portuguese.png"></a>
						</span>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline">{{page.title[language]}}</h1>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container" id="pageContent">
        <div class="row" ng-if="clickedValue ==1"> 
            <hr>
            <div class="col-sm-10 col-sm-offset-1">
                <h2>Teste</h2>
                <p>Introduce the visitor to the business using clear, informative text. Use well-targeted keywords within your sentences to make sure search engines can find the business.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et molestiae similique eligendi reiciendis sunt distinctio odit? Quia, neque, ipsa, adipisci quisquam ullam deserunt accusantium illo iste exercitationem nemo voluptates asperiores.</p>
                <p>
                    <a class="btn btn-default btn-lg" href="#">Call to Action &raquo;</a>
                </p>
            </div>
        </div>
        
        <div class="row" ng-if="clickedValue ==2"> 
            <hr>
			<div class="col-sm-10 col-sm-offset-1">
                <h2>{{menu.people[language]}}</h2>
				<div class="col-sm-4 col-sm-offset-2">
					<img class="img-circle img-responsive img-center" src="vanessap.png" alt="">
					<h2>Vanessa Marinho</h2>
					<p>{{menu.people.vanessa[language]}}<p>
					<p><i class="fa fa-envelope-o"></i> &#118;&#097;&#110;&#101;&#115;&#115;&#097;&#113;&#109;&#064;&#117;&#115;&#112;&#046;&#098;&#114;</p>
                    <a href="http://lattes.cnpq.br/5663426638420085" target="_blank"><img src="lattesS.png"> Lattes</a>
				</div>
				<div class="col-sm-4">
					<img class="img-circle img-responsive img-center" src="diego2.png"  alt="">
					<h2>Diego Amancio</h2>
					<p>{{menu.people.diego[language]}}</p>
					<p><i class="fa fa-envelope-o"></i> &#100;&#105;&#101;&#103;&#111;&#064;&#105;&#099;&#109;&#099;&#046;&#117;&#115;&#112;&#046;&#098;&#114;</p>
                    <a href="http://lattes.cnpq.br/8763967270082717" target="_blank"><img src="lattesS.png"> Lattes</a>
				</div>
			</div>
        </div>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>USP e CAPES</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>

</body>

</html>
