<!DOCTYPE html>
<html ng-app="myPageApp">
<head>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Research - Vanessa Marinho</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/mypage.css" rel="stylesheet">
	<link href="css/fontawesome.min.css" rel="stylesheet">
	<link rel="icon" href="teste.ico" type="image/ico" sizes="16x16">

	
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
	
    <!-- AngularJS -->
    <script src="js/angular.min.js"></script>
	<script src="js/mypage.js"></script>
    <script src="js/angular-fullscreen.js"></script>
	
</head>

<body ng-controller="languageController as language">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" style="float: right">
                    <li>
                        <a href="#" id="research">{{menu.research[language]}}</a>
                    </li>
                    <li>
                        <a href="#" id="people">{{menu.people[language]}}</a>
                    </li>
                    <li>
                        <a href="#" id="results">{{menu.results[language]}}</a>
                    </li>
                    <li>
                        <a href="#" id="publications">{{menu.publications[language]}}</a>
                    </li>
                    <li>
                        <a href="#" id="interesting">{{menu.interesting[language]}}</a>
                    </li>
					<li class="english"  style="padding-top: 13px;">
						<span>
						<a id="english" style="display:inline-block"><img src="english.png"></a>
						<a id="portuguese" style="display:inline-block"><img src="portuguese.png"></a>
						</span>
                    </li>
                    <li><i class="fa fa-home fa-2x" style="color:white; margin-top: 10px; margin-left: 10px;" id="home"></i></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline">{{page.title[language]}}</h1>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container" id="pageContent">
        <div class="row" ng-if="clickedValue ==0"> 
            <hr>
            <div class="col-sm-10 col-sm-offset-1">
                <h2>{{project.summary.title[language]}}</h2>
                <p>{{project.summary.content[language]}}</p>
                {{project.summary.moreInfo[language]}} <a href="#" ng-click="research()">{{words.here[language]}}</a>
            </div>
        </div>
        
        <div class="row" ng-if="clickedValue ==1"> 
            <hr>
            <div class="col-sm-10 col-sm-offset-1">
                <h2>{{project.information[language]}}</h2>
                <br/>
                <ol>
                <li><h4><b>{{project.title.title[language]}}</b></h4></li>
                <p>{{project.title.content[language]}}</p>
                <li><h4><b>{{project.theme.title[language]}}</b></h4>
                	<p>1. {{project.theme.content[language][0]}} <br/>
                	&nbsp; 1.1. {{project.theme.content[language][1]}} <br/>
                	&nbsp; &nbsp; 1.1.1. {{project.theme.content[language][2]}} <br/>
                	&nbsp; &nbsp; &nbsp; 1.1.1.1. {{project.theme.content[language][3]}}</p>
                </li>

                <li><h4><b>{{project.problem.title[language]}}</b></h4></li>
                <p>{{project.problem.content[language]}}</p>

                <li><h4><b>{{project.hypotheses.title[language]}}</b></h4>
	                <ol>
	                	<li>{{project.hypotheses.content[language][0]}}</li>
	                	<li>{{project.hypotheses.content[language][1]}}</li>
	                	<li>{{project.hypotheses.content[language][2]}}</li>
	                </ol>
                </li>

                <li><h4><b>{{project.goal.title[language]}}</b></h4></li>
                <p>{{project.goal.content[language]}}</p>

                <li><h4><b>{{project.motivation.title[language]}}</b></h4></li>
                <p>{{project.motivation.content[language]}}</p>

                <li><h4><b>{{project.summary.title[language]}}</b></h4></li>
                <p>{{project.summary.content[language]}}</p>
                </ol>
                <p><b>*</b> - {{project.footnote[language][0]}}</p>
                <p><b>**</b> - {{project.footnote[language][1]}}</p>
            </div>
        </div>

        <div class="row" ng-if="clickedValue ==2"> 
            <hr>
			<div class="col-sm-10 col-sm-offset-1">
                <h2>{{menu.people[language]}}</h2>
                <br/>
				<div class="col-sm-4">
					<img class="img-circle img-responsive img-center" src="diego2.png"  alt="">
                    <h2>Diego Amancio</h2>
                    <h5>{{words.supervisor[language]}}</h5>
                    <p>{{people.diego[language]}}</p>
                    <p><i class="fa fa-envelope-o"></i> &#100;&#105;&#101;&#103;&#111;&#064;&#105;&#099;&#109;&#099;&#046;&#117;&#115;&#112;&#046;&#098;&#114;</p>
                    <a href="http://lattes.cnpq.br/8763967270082717" target="_blank"><img src="lattesS.png"> Lattes</a>
				</div>
				<div class="col-sm-4">
                    <img class="img-circle img-responsive img-center" src="vanessap.png" alt="">
                    <h2>Vanessa Marinho</h2>
                    <h5>{{words.student[language]}}</h5>
                    <p>{{people.vanessa[language]}}<p>
                    <p><i class="fa fa-envelope-o"></i> &#118;&#097;&#110;&#101;&#115;&#115;&#097;&#113;&#109;&#064;&#117;&#115;&#112;&#046;&#098;&#114;</p>
                    <a href="http://lattes.cnpq.br/5663426638420085" target="_blank"><img src="lattesS.png"> Lattes</a>
				</div>
                <div class="col-sm-4">
                    <img class="img-circle img-responsive img-center" src="edilson.png" alt="">
                    <h2>Edilson Corrêa</h2>
                    <h5>{{words.studentM[language]}}</h5>
                    <p>{{people.edilson[language]}}<p>
                    <p><i class="fa fa-envelope-o"></i> &#101;&#100;&#105;&#108;&#115;&#111;&#110;&#097;&#099;&#106;&#114;&#064;&#117;&#115;&#112;&#046;&#098;&#114;</p>
                    <a href="http://lattes.cnpq.br/5300150316107442" target="_blank"><img src="lattesS.png"> Lattes</a>
                </div>
			</div>
        </div>

        <div class="row" ng-if="clickedValue ==3"> 
            <hr>
            <div class="col-sm-10 col-sm-offset-1">
                <h2>{{words.firstResults[language]}}</h2>
                
                <img src="booksList.png" class="image" style="width:550px;" fullscreen>
            </div>
        </div>

        <!-- LINKS -->
        <div class="row" ng-if="clickedValue ==4"> 
            <hr>
            <div class="col-sm-10 col-sm-offset-1">
                <h2>{{words.interestingLinks[language]}}</h2>
                <h3>{{words.books[language]}}</h3>
                <p>{{links.books[language]}}</p>
                <ul>
                    <li> <i>Networks: An Introduction</i> - Mark Newman
                        &nbsp; <br/> {{links.sample[language]}}  <a href="http://books.google.com.br/books?id=LrFaU4XCsUoC&printsec=frontcover&source=gbs_ge_summary_r&cad=0#v=onepage&q&f=false" target="_blank;">{{words.here[language]}}</a>.</li>
                    <br/> <li> <i>Graph-based Natural Language Processing and Information Retrieval</i> - Rada Mihalcea, Dragomir Radev
                        &nbsp; <br/> {{links.sample[language]}} <a href="http://books.google.com.br/books?id=kByP4X9c5AQC&printsec=frontcover&source=gbs_atb#v=onepage&q&f=false" target="_blank;">{{words.here[language]}}</a>.
                    </li>
                </ul>
                <h3>{{words.linkedIn[language]}}</h3>
                <p>{{links.linkedInInitial[language]}}</p><br/>
                <img src="LinkedIn.png" class="image" style="width:550px;" fullscreen>
                <br/>
                <br/>
                <p>{{links.linkedInMiddle.firstContent[language]}}<a href= "http://socilab.com/#home" target= "_blank">Socilab</a>. {{links.linkedInMiddle.secondContent[language]}} </p>
                <ul>
                    <li><b>{{words.density[language]}}:</b> {{links.density[language]}}</li><br/>
                    <li><b>{{words.absolute[language]}}:</b> {{links.absolute[language]}}</li><br/>
                    <li><b>{{words.effective[language]}}:</b> {{links.effective[language]}}</li><br/>
                </ul>
                <br/>
                <br/>
                <p>{{links.conclusion[language]}}</p>
            </div>
        </div>
        <!-- ARTIGOS -->
        <div class="row" ng-if="clickedValue ==5"> 
            <hr>
            <div class="col-sm-10 col-sm-offset-1">
                <h2>{{words.production[language]}}</h2>
                <p>{{production.firstContent[language]}}</p>
                <br/>
                <h2>{{words.relatedPublication[language]}}</h2>
                <p>{{production.secondContent[language]}}</p>
                <i><a href= "http://arxiv.org/abs/1112.6045" target= "_blank">Comparing intermittency and network measurements of words and their dependency on authorship</a></i>
            </div>
        </div>

        <!-- Footer -->
        <br/><br/><br/><br/><br/><br/>
        <footer>
            <div class="row">
                <div class="col-lg-10">
                	<p class="col-sm-2 col-sm-offset-1"><b>{{words.thanks[language]}} </b></p>
                    <img src="brasao_usp.jpg" class="col-sm-2"/>
                    <img src="capes.png" class="col-sm-2"/>
                    <img src="nilc.png" class="col-sm-2" style="margin-top:10px; margin-left: 14px;"/>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>

</body>

</html>
